@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&subset=latin,vietnamese,latin-ext');

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:  $font-size-base;
}

*, a{
    outline: 0 none !important;
}
.greybg{
    background-color: #f7f7f7
}

.badge{

    &.cvstype{
        font-size: $font-size-small - 2;
        padding: 3px 10px;
    }

    &.cate1{
        background: $second-color;
    }
    &.cate2{
        background: $fourth-color;
    }
}
/* Override Select */

.bootstrap-select {
    > .dropdown-toggle{
        border: 0;
        font-size: $font-size-small;
        padding-right: 10px;
        text-transform: inherit;
    }
    &.btn-group .dropdown-toggle .filter-option{
        width: 80%;
    }
    &.btn-group.show-tick .dropdown-menu li.selected a span.check-mark{
        color: $first-color;
    }
}


/*Scrollable Area*/
.scrollable{
  position: relative;
  overflow: hidden;
  height: 200px;
}
