#message_write{
    background:$white-bg;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    z-index: 100;
}

#attachmentMessageDropdownMenu{
  border: 0;
  float: left;
  margin-right: 20px;
  color: $first-color;
}

#attachmentMessage{
    .dropdown-menu{
        > li > a .fa{
            color: $first-color;
            margin-right: 5px;
        }
        > li > a{
            color: #333;
        }
    }
}

#composeMessage{
  color: #999999;
  float: left;
  width: 80%;
  width: calc(100% - 120px);
  border: 0;
  background: transparent;
  font-weight: 300;
  resize: none;
  height: 30px;
  margin-top: 5px;
}

#sendMessage{
  position: absolute;
  right: 15px;
  top: 8px;
  width: 60px;
  height: 40px;
  border: 0;
  color: $first-color;
}


.divider.history{
  text-align: center;
  color: #999999;
  font-weight: 300;
  font-size: $font-size-small;
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
  text-transform: uppercase;

  &:before, &:after{
      content: '';
      background: #ccc;
      height: 1px;
      width: 30%;
      position: absolute;
      top: 46%;
      z-index: 0;
  }

  &:before{
      left:60px;
  }

  &:after{
      right:60px;
  }

}

/*message*/
.message{
    padding:0 20px;
    overflow: hidden;


    .bubble{
      margin: 5px 0;


       .content{
          background: $message-bg;
          padding: 8px 10px;
          color: $message-color;
          font-size: $font-size-base;
          font-weight: 300;
          border:1px solid $message-bg;
          display: inline-block;
          max-width: 350px;
          position: relative;


          -webkit-border-radius: 0 $message-border-radius $message-border-radius 0;
          -moz-border-radius: 0 $message-border-radius $message-border-radius 0;
          border-radius: 0 $message-border-radius $message-border-radius 0;

          -webkit-transition: all $slow-transition-time $transition-bezier;
          -moz-transition: all $slow-transition-time $transition-bezier;
          -o-transition: all $slow-transition-time $transition-bezier;
          transition: all $slow-transition-time $transition-bezier;

       }
    }

    .author h4, .DeliveryStatus{
       font-size: 10px;
       margin: 0;
       color: $message-color;
    }
    .author{

    }

    .DeliveryStatus{
      margin-top: 10px;
    }

    .pinned{
        font-size: $font-size-small;
        position: absolute;
        right: -20px;
        top: 30%;
        z-index: 1;
    }


    &.first{
        .bubble{
            .content{
                  -webkit-border-top-left-radius: $message-border-radius;
                  -moz-border-top-left-radius: $message-border-radius;
                  border-top-left-radius: $message-border-radius;
            }
        }
    }
    &.last{
        .bubble{
            .content{
                -webkit-border-bottom-left-radius: $message-border-radius;
                -moz-border-bottom-left-radius: $message-border-radius;
                border-bottom-left-radius: $message-border-radius;
            }
        }
    }

    //attachmentMessage

      &.photo{
          .bubble{
              .content{
                  padding: 0;
                  overflow: hidden;
              }

              img{
                  width: 100%;
                  max-width: 100%;
                  display: block;
              }
          }
      }

      &.file{

          .file-info{
              position: relative;
              min-width: 300px;

              h4{
                  margin: 0 60px 0 0;
                  font-weight: 600;
                  font-size: $font-size-base;
              }

              .file-ext{
                  color: #54CF60;
                  position: absolute;
                  top:10px;
                  right: 20px;
              }

              .DeliveryTime{
                 margin-top: 20px;
                 font-size: $font-size-small;
              }
          }

      }




    &.me{
        .bubble{
          .content{

          }
        }
    }



    &.right{
        .bubble{
              float: right;
              .content{
                    background-color: $first-color;
                    color: $white-color;
                    text-align: right;
                     border:1px solid $first-color;
                    -webkit-border-radius: $message-border-radius 0 0 $message-border-radius;
                    -moz-border-radius: $message-border-radius 0 0 $message-border-radius;
                    border-radius: $message-border-radius 0 0 $message-border-radius;
              }
        }
        .DeliveryStatus{ text-align: right; }

        .pinned{
            color: #333;
            right: auto;
            left: -20px;
        }

        &.first{
              .bubble{
                  .content{
                        -webkit-border-top-right-radius: $message-border-radius;
                        -moz-border-top-right-radius: $message-border-radius;
                        border-top-right-radius: $message-border-radius;
                  }
              }
        }
        &.last{
              .bubble{
                  .content{
                      -webkit-border-bottom-right-radius: $message-border-radius;
                      -moz-border-bottom-right-radius: $message-border-radius;
                      border-bottom-right-radius: $message-border-radius;
                  }
              }
        }


        &.file{

            .file-info{
                text-align: right;
                h4{
                    margin: 0 0 0 60px;
                }
                .file-ext{
                    right: auto;
                    left: 5px;
                }

            }

        }




    }// end right








}

@media (min-width:1200px){

      .divider.history{

          &:before, &:after{
              width: 40%;
          }
      }

}
