/* conversation Cog */
#conversationCog{
    background: $white-bg;

    #conversationCogBtn{
      float: left;
    }

    .btnClosePanel{
        float: right;
    }

    .module-title{
      padding-top: 2px;
      text-align: center;
      display: block;
      width: 58%;
    }

    .open > .btn, .btn:focus, .btn:active{
        border-color: transparent;
    }
    .content{ margin-top: -1px; }
    .list-group-item{
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        margin-bottom: 0;

       -webkit-border-radius: 0;
       -moz-border-radius: 0;
       border-radius: 0;

       a{
          color: #333;
          display: block;

          &:hover, &focus, &:active{
              color: $first-color;
          }
       }

       .filter-option{
         display: inline-block;
         min-width: 10px;
         padding: 3px 7px;
         font-size: 8px;
         font-weight: bold;
         color: #fff;
         line-height: 1;

         vertical-align: middle;
         white-space: nowrap;
         text-align: center;
         background-color: $first-color;
         border-radius: 10px;
         text-transform: uppercase;
       }
       .bootstrap-select{
          margin-top: -4px;
       }

       &.has-icon a {

         .fa{
           float: right;
           margin-top: 3px;
         }
       }

    }

}

#memberComponent{
    header{

    }
    .list-group-item{ padding-left: 0 }
    .content {
        margin-top: 20px;
        .scrollable{
            height: 300px;
        }
    }
    .media-left{
        position: relative;
        a{
          display: block;
          width: 30px;
          height: 30px;
          overflow: hidden;

          img{
             width: 100%;
          }
        }

        .status{
            background: #ccc;
            border: 1px solid #fff;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            position: absolute;
            right:7px;
            bottom: 4px;
            z-index: 1;

            &.online{
                background: #7DF05C;
            }
        }
    }

    .media-body{
        .member-name{
            font-size: $font-size-base;
            font-weight: 600;
            margin: 0;
            line-height: 1.5;
        }
        .member-location{
            font-size:  $font-size-small - 1;
            font-weight: 400;
            color: #999999;
            margin: 0;
        }
    }
}
