.navbar-toggle{
  display: block;
  float: left;
  margin-bottom: 0px;
  margin-top: 2px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 0;
  margin-left: -15px;
}

.navbar-default{
    .navbar-toggle:hover ,
    .navbar-toggle:focus {
      background-color: transparent;
    }

    .avatar{
      width: 30px;
      text-align: center;
      height: 30px;
      overflow: hidden;
      margin-top: -5px;
      border-radius: 50px;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;

      img{
        width: 100%;
        max-width: 100%;
        display: inline-block;
      }
    }
}
.navbar{
  min-height: 45px;
  margin-bottom: 0;

  .navbar-brand{
     padding-top: 10px;
     padding-bottom: 5px;
     margin-bottom: 0;
     margin-top: 2px;
     height: auto;
     color: #131313;
     font-size: $font-size-base;
  }
}

/* USER DROPDOWN*/

#user-dropdown-toggle{
   font-size: 12px;
   font-weight: 400;
   margin: 0;
   padding-top: 14px;
}
.dropdown.open{
    #user-dropdown-toggle{
          background: #F7F7F7;
          color: #555555;
    }

}

#user-dropdown{
    background: #F7F7F7;

    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;

    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;

    margin-top: 0;
    width: $side-panel-width;
    height: calc(100vh - 45px);

    .panel{
       background: none;
       margin-bottom: 0;
       border: 0;
       padding-bottom: 40px;

       -webkit-border-radius: 0;
       border-radius: 0;
    }

    .user-avatar, .avatar-wrap{
       position: relative;
       text-align: center;
       overflow: hidden;
       margin-bottom: 60px;
    }
    .avatar-wrap{
        width: 140px;
        height: 91px;
        margin: 45px auto 5px;
    }

    .avatar{
        width: 90px;
        height: 90px;
        margin-top: 0;
    }

    .bussiness{
        background: $white-color;
        width: 30px;
        height: 30px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #E5E5E5;
        overflow: hidden;
        position: absolute;
        right: 18px;
        bottom: 0px;
        z-index: 1;

        img{
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .user-name{
        font-weight: 600;
        font-size: $font-size-medium;
    }

    .user-actions{
         text-align:center;
         .btn{
           display: inline-block;
           width: 160px;
           margin: 5px 3px;
         }
    }

}







#cvsTitle{
    padding-bottom: 0px;
    padding-top: 10px;
    margin-left: -10px;
    margin-right: -10px;

    h2{
        font-weight: 900;
        font-size: $font-size-medium;
        margin: 0 0 5px 0;
    }

    .meta{
        span{
            margin-right: 20px;
            position: relative;
            font-size: $font-size-small - 1;
        }
        span.admin{
            &:before,&:after{
                position: absolute;
                color: #dddddd;
                content: ".";
                font-size: 34px;
                line-height: 0;
                top:-2px;
            }
            &:before{
                left:-15px;
            }
            &:after{
                right:-15px;
            }
        }
    }
}

.cvs-info-action{
      padding-top: 15px;
      ul > li{
          margin-right: -5px;

          a{
              display: inline-block;
              height: 30px;
              line-height: 30px;
              text-align: center;
              vertical-align: middle;
              width: 30px;
              color: #666666;

              &:hover, &:focus, &:active, &.active{
                  color: $first-color;
              }
          }
      }
}
