.section-info{
    padding-left:10px;
    padding-right: 10px;

    .header{
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
        font-size: $font-size-small;
        color: #0d0d0d;

    }
}

#cvsWrap{
   margin-top: -31px;
   .content-wrap{
      height: 100%;
      // height: 100vh;
   }
}
