// ---
// SEARCH Component
// ----

.search-section{
    .input-group-addon{
        border-color: $border-color;
        padding-left: 10px;
        padding-right: 10px;
    }
    .form-control{
        height: 30px;
        border-color: $border-color;
        padding-left: 0;
        min-width: 215px;
        font-size: $font-size-small;
    }
    .btn{
        padding: 4px 8px;
        margin-left: 5px;
        border: 0;
        font-size: 22px;
        color: $first-color;
    }
}
