/* Toggle Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all $slow-transition-time $transition-bezier;
    -moz-transition: all $slow-transition-time $transition-bezier;
    -o-transition: all $slow-transition-time $transition-bezier;
    transition: all $slow-transition-time $transition-bezier;

    &.toggled {
        padding-left: $nav-width;
    }
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: $nav-width;
    width: 0;
    height: 100%;
    height: 100vh;
    padding-top: 45px;

    margin-left: (-$nav-width);
    overflow-y: auto;
    background: $navbg;
    -webkit-transition: all $slow-transition-time $transition-bezier;
    -moz-transition: all $slow-transition-time $transition-bezier;
    -o-transition: all $slow-transition-time $transition-bezier;
    transition: all $slow-transition-time $transition-bezier;
}

#wrapper.toggled #sidebar-wrapper {
    width: $nav-width;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: (-$nav-width) ;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: $nav-width;
    margin: 0;
    padding: 0;
    list-style: none;

    li a {
        display: block;
        text-decoration: none;
        color: #999999;
        padding: 10px 15px;
        overflow: hidden;
        padding: 14px 15px;

        -webkit-transition: all $slow-transition-time $transition-ease;
        -moz-transition: all $slow-transition-time $transition-ease;
        -o-transition: all $slow-transition-time $transition-ease;
        transition: all $slow-transition-time $transition-ease;

        &:hover {
            text-decoration: none;
            color: $white-color;
            background: $nav-item-bg;
        }
        .fa{ margin-right: 5px;}

        &:active, &:focus {
            text-decoration: none;
        }
    }

    li.active{
      a{
          text-decoration: none;
          color: $white-color;
          font-weight: 600;
          background: $nav-item-bg;
      }
    }


    .list-group-item{
        background: transparent;
        border: 0;
        padding:0;
        margin-bottom: 0;

        .badge {
            float: right;
            background-color: $third-color;
            font-size: 10px;
            font-weight: 600;

        }
        &.active, &.active:hover, &.active:focus{
            background: transparent;
            border: 0;
        }

    }


    //settings menu
    #settings{
        &.fixed-bottom{
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
        }
        > ul{
             margin-bottom: 0;
             li {
               &:hover a{
                 background: none;
               }
               a {
                   &:hover {
                     background: none;
                   }
               }

             }
        }

    }

}

#left-action-section{
    width: $left-panel-width;
    height: 100%;
    // height: 100vh;
    border-right: 1px solid #dcdcdc;
    position: absolute;
    left: 0;
    z-index: 1;
}

#main-action-section{
    position: relative;
    height: 100%;
    width: calc(100% - #{$left-panel-width});
    float: left;
    margin-left: ($left-panel-width);
}

#control-sidebar{
   position: fixed;
   width: $side-panel-width;
   background: #efefef;
   right: 0;
   height: 100%;
   top:45px;
   border-left: 1px solid #ddd;
   -ms-transform: translate(#{$side-panel-width}, 0px); /* IE 9 */
   -webkit-transform: translate(#{$side-panel-width},0px); /* Safari */
   transform: translate(#{$side-panel-width}, 0px);

   -webkit-transition: all $slow-transition-time $transition-ease;
   -moz-transition: all $slow-transition-time $transition-ease;
   -o-transition: all $slow-transition-time $transition-ease;
   transition: all $slow-transition-time $transition-ease;
}

#page-content-wrapper{
    &.has-sidebar{
        #main-action-section{
            margin-right: $side-panel-width;
            width: calc(100% - #{$left-panel-width} - #{$side-panel-width});
        }
        #control-sidebar{
          -ms-transform: translate(0,0); /* IE 9 */
          -webkit-transform: translate(0,0); /* Safari */
          transform: translate(0,0);

        }
    }
}


.section-header{
     min-height: 72px;
     border-bottom: 1px solid #ddd;
     padding: 5px 10px;
     width: 100%;
}


.list-group-item{
     &.noborder{
        border: 0;
        margin-bottom: 0;
     }
}

.module-title{
   margin: 0;
   font-size: $font-size-small;
   font-weight: 400;
}

.module{
   background: $white-color;
   padding: 20px 10px;
   .module-title{
      line-height: 1;
      font-weight: 600;
      margin-top: 2px;
   }

   header{
     &.haslink{
         a{
            font-size: $font-size-small;
         }
     }
   }


}




@media(min-width:768px) {
    #wrapper {
        padding-left: $nav-width;
        #sidebar-wrapper {
            width: $nav-width;
        }
        #page-content-wrapper {
            padding: 0px;
            position: relative;
        }

        &.toggled {
            padding-left: 0;

            #sidebar-wrapper {
                width: 0;
            }
            #page-content-wrapper {
                position: relative;
                margin-right: 0;
            }
        }
    }

}
