.sprites{
    background: url('../images/sprites.png') no-repeat 0 0;

    &.plus{
    background-position: -1px 0;
    width: 18px;
    height: 18px;
    }
    &.plus2{
    background-position: -1px -21px;
    width: 18px;
    height: 18px;
    }
    &.triangle{
    background-position: 0 -43px;
    width: 22px;
    height: 23px;
    }
    &.triangle2{
    background-position: 0 -67px;
    width: 22px;
    height: 23px;
    }
}


.fa-attach{

}
